<!--**************************************** NHỮNG HÃNG XE NỔI TIẾNG *****************************************************-->
@*<div class="dedicate pt-5">
<div class="dedicate-heading text-center">
    <h1>NHỮNG HÃNG XE NỔI TIẾNG NHẤT</h1>
    <p>Hãng xe uy tín - giá tốt tốt nhất</p>
</div>
<div class="dedicate-content">

    <div class="dedicate-item-bg">
        <div class="dedicate-item">
            <img width="100%" src="~/Assets/images/dedicate/A.jpg" />
            <div class="dedicate-item-content">
                <div class="content">
                    <h2>NHÀ XE PHÚC XUYÊN</h2>
                </div>
                <div class="icon">
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="dedicate-item-bg">
        <div class="dedicate-item">
            <img width="100%" src="~/Assets/images/dedicate/B.jpg" />
            <div class="dedicate-item-content">
                <div class="content">
                    <h2>NHÀ XE VĂN MINH</h2>
                </div>
                <div class="icon">
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="dedicate-item-bg">
        <div class="dedicate-item">
            <img width="100%" src="~/Assets/images/dedicate/C.jpg" />
            <div class="dedicate-item-content">
                <div class="content">
                    <h2>NHÀ XE PHÚ QUÝ</h2>
                </div>
                <div class="icon">
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="dedicate-item-bg">
        <div class="dedicate-item">
            <img width="100%" src="~/Assets/images/dedicate/D.jpg" />
            <div class="dedicate-item-content">
                <div class="content">
                    <h2>NHÀ XE HÙNG ĐỨC</h2>
                </div>
                <div class="icon">
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="dedicate-item-bg">
        <div class="dedicate-item">
            <img width="100%" src="~/Assets/images/dedicate/E.jpg" />
            <div class="dedicate-item-content">
                <div class="content">
                    <h2>NHÀ XE PHÚC LỢI</h2>
                </div>
                <div class="icon">
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
        </div>
    </div>

</div>

</div*@>

<!--**************************************** NHỮNG TUYẾN ĐƯỜNG NỔI NỔI TIẾNG *****************************************************-->

<div class="highlight pt-5">
<div class="highlight-heading text-center mb-4">
    <h1>NHỮNG TUYẾN ĐƯỜNG NỔI TIẾNG</h1>
    <p>Những tuyến đừng được nhiều người chọn lựa nhất</p>
</div>
<div class="container highlight-content">
    <div class="row">

        <div class="col-md-3">
            <div class="highlight-item">
                <img width="100%" src="~/Assets/images/tuyen xe/danang.png" />
                <div class="content text-center">
                    <h2>Đà Nẵng -> Hà Nội</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="highlight-item">
                <img width="100%" src="~/Assets/images/tuyen xe/vungtau.png" />
                <div class="content text-center">
                    <h2>Vũng Tàu -> Sapa</h2>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="highlight-item">
                <img width="100%" src="~/Assets/images/tuyen xe/dalat.png" />
                <div class="content text-center">
                    <h2>Đà Lạt -> Thái Nguyên</h2>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="highlight-item">
                <img width="100%" src="~/Assets/images/tuyen xe/tphcm.png" />
                <div class="content text-center">
                    <h2>Hồ Chí Minh -> Hà Nội</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="highlight-item">
                <img width="100%" src="~/Assets/images/tuyen xe/hanoi.png" />
                <div class="content text-center">
                    <h2>Hà Nội -> Đà Nẵng</h2>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="highlight-item">
                <img width="100%" src="~/Assets/images/tuyen xe/phuquoc.png" />
                <div class="content text-center">
                    <h2>Phú Quốc -> Sapa</h2>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="highlight-item">
                <img width="100%" src="~/Assets/images/tuyen xe/halong.png" />
                <div class="content text-center">
                    <h2>Hạ Long -> Đà Nẵng</h2>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="highlight-item">
                <img width="100%" src="~/Assets/images/tuyen xe/hue.png" />
                <div class="content text-center">
                    <h2>Huế -> Hồ Chí Minh</h2>
                </div>
            </div>
        </div>

    </div>
</div>

</div>
<style>
.highlight-heading h1 {
    font-size: 35px;
}
.highlight-content .row > div {
    padding-left: 10px;
    padding-right: 10px;
}
.highlight-item {
    position: relative;
    border-radius: 10px;
    margin-top: 20px;
}
.highlight-item img {
    border-radius: 10px;
}
.highlight-item .content {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #27ccac9e;
    color: #ffffff;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.highlight-item .content h2 {
    color: #ffffff;
    font-size: 25px;
    padding: 5px;
    margin: 0;
}
.dedicate-heading h1 {
    font-size: 35px;
}
.dedicate-content {
    display: flex;
    justify-content: space-between;
}
.dedicate-item-bg {
    width: 20%;
    padding: 5px;
}
.dedicate-item {
    box-shadow: 3px 3px 10px #ccc;
}
.dedicate-item-content {
    background: #19d3af;
    display: flex;
    font-weight: 500;
    padding: 5px;
}
.dedicate-item-content .content {
    width: 90%;
}
.dedicate-item-content .content h2 {
    font-size: 20px;
}
.dedicate-item-content .content span {
    font-size: 16px;
    margin-right: 10px;
    color: red;
}
.dedicate-item-content .content span:last-child {
    text-decoration: line-through;
    color: gray;
}
.dedicate-item-content .icon {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
<script type="text/javascript">
    $('.col-md-3').on('click', function () {
        var text = $(this).find("h2").text();
        $("#autocomplete").val(text.substring(0, text.search(" -> ")));
        $("#autocomplete2").val(text.substring(text.search(" -> ") + 4, text.length));
        alert("Đã chọn tuyến đường!");
    });
</script>