
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered text-center" id="chuyenXe">
    <thead>
        <tr>
            <th>Ngày đi</th>
            <th>Điểm đi</th>
            <th>Thời gian khởi hảnh</th>
            <th>Thời gian dự kiến</th>
            <th>Điểm đến</th>
            <th>Thời gian đến nơi</th>
            <th>Còn</th>
            <th>Giá vé</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>07:00 15-8-2019</td>
            <td>Hồ Chí Minh</td>
            <td>07:00</td>
            <td>34h</td>
            <td>Hà Nội</td>
            <td>17:00</td>
            <td>100 vé</td>
            <td>720.000 Đ</td>
            <td><button class="btn btn-success"><i class="fas fa-plus-circle"></i> Mua vé</button></td>
        </tr>
        <tr>
            <td>07:00 15-8-2019</td>
            <td>Hồ Chí Minh</td>
            <td>07:00</td>
            <td>34h</td>
            <td>Hà Nội</td>
            <td>17:00</td>
            <td>100 vé</td>
            <td>720.000 Đ</td>
            <td><button class="btn btn-success"><i class="fas fa-plus-circle"></i> Mua vé</button></td>
        </tr>
        <tr>
            <td>07:00 15-8-2019</td>
            <td>Hồ Chí Minh</td>
            <td>07:00</td>
            <td>34h</td>
            <td>Hà Nội</td>
            <td>17:00</td>
            <td>100 vé</td>
            <td>720.000 Đ</td>
            <td><button class="btn btn-success"><i class="fas fa-plus-circle"></i> Mua vé</button></td>
        </tr>
        <tr>
            <td>07:00 15-8-2019</td>
            <td>Hồ Chí Minh</td>
            <td>07:00</td>
            <td>34h</td>
            <td>Hà Nội</td>
            <td>17:00</td>
            <td>100 vé</td>
            <td>720.000 Đ</td>
            <td><button class="btn btn-success"><i class="fas fa-plus-circle"></i> Mua vé</button></td>
        </tr>
        <tr>
            <td>07:00 15-8-2019</td>
            <td>Hồ Chí Minh</td>
            <td>07:00</td>
            <td>34h</td>
            <td>Hà Nội</td>
            <td>17:00</td>
            <td>100 vé</td>
            <td>720.000 Đ</td>
            <td><button class="btn btn-success"><i class="fas fa-plus-circle"></i> Mua vé</button></td>
        </tr>
        <tr>
            <td>07:00 15-8-2019</td>
            <td>Hồ Chí Minh</td>
            <td>07:00</td>
            <td>34h</td>
            <td>Hà Nội</td>
            <td>17:00</td>
            <td>100 vé</td>
            <td>720.000 Đ</td>
            <td><button class="btn btn-success"><i class="fas fa-plus-circle"></i> Mua vé</button></td>
        </tr>
        <tr>
            <td>07:00 15-8-2019</td>
            <td>Hồ Chí Minh</td>
            <td>07:00</td>
            <td>34h</td>
            <td>Hà Nội</td>
            <td>17:00</td>
            <td>100 vé</td>
            <td>720.000 Đ</td>
            <td><button class="btn btn-success"><i class="fas fa-plus-circle"></i> Mua vé</button></td>
        </tr>
        <tr>
            <td>07:00 15-8-2019</td>
            <td>Hồ Chí Minh</td>
            <td>07:00</td>
            <td>34h</td>
            <td>Hà Nội</td>
            <td>17:00</td>
            <td>100 vé</td>
            <td>720.000 Đ</td>
            <td><button class="btn btn-success"><i class="fas fa-plus-circle"></i> Mua vé</button></td>
        </tr>
        <tr>
            <td>07:00 15-8-2019</td>
            <td>Hồ Chí Minh</td>
            <td>07:00</td>
            <td>34h</td>
            <td>Hà Nội</td>
            <td>17:00</td>
            <td>100 vé</td>
            <td>720.000 Đ</td>
            <td><button class="btn btn-success"><i class="fas fa-plus-circle"></i> Mua vé</button></td>
        </tr>
        <tr>
            <td>07:00 15-8-2019</td>
            <td>Hồ Chí Minh</td>
            <td>07:00</td>
            <td>34h</td>
            <td>Hà Nội</td>
            <td>17:00</td>
            <td>100 vé</td>
            <td>720.000 Đ</td>
            <td><button class="btn btn-success"><i class="fas fa-plus-circle"></i> Mua vé</button></td>
        </tr>
        <tr>
            <td>07:00 15-8-2019</td>
            <td>Hồ Chí Minh</td>
            <td>07:00</td>
            <td>34h</td>
            <td>Hà Nội</td>
            <td>17:00</td>
            <td>100 vé</td>
            <td>720.000 Đ</td>
            <td><button class="btn btn-success"><i class="fas fa-plus-circle"></i> Mua vé</button></td>
        </tr>
    </tbody> 
</table>
<script type="text/javascript">
$(document).ready( function () {
    $('#chuyenXe').DataTable();
});
</script>
